// Custom styles.
// 正文字体的大小
$font-size-base = 16px
// 代码字体的大小
$code-font-size = 13px


$body-bg-color = #e0fccf
$head-bg = #d1fab8

// Headings font size
$font-size-headings-base = 28px
$font-size-headings-step = 2px

$font-family-headings = KaiTi,"Microsoft YaHei",Georgia, sans
$font-family-base = SimHei, Verdana, sans-serif
